<div class="edu-item">
  <div class="edu-title"><strong>Jun 2024</strong> – Master's degree in Analytics Engineering</div>
  <div class="edu-org">Universidad de Los Andes</div>
</div>

<div class="edu-item">
  <div class="edu-title"><strong>Jun 2014</strong> – IT Project Management Specialization</div>
  <div class="edu-org">Escuela Colombiana de Ingeniería</div>
</div>

<div class="edu-item">
  <div class="edu-title"><strong>May 2004</strong> – Master’s in Econometric Sciences and Mathematical Economy</div>
  <div class="edu-org">Pontificia Universidad Javeriana</div>
</div>

<div class="edu-item">
  <div class="edu-title"><strong>May 1995</strong> – Software Engineering</div>
  <div class="edu-org">Universidad Nacional de Colombia</div>
</div>
