<div class="edu-item">
  <strong>Jun 2024</strong> – Master's degree in Analytics Engineering<br>
  Universidad de Los Andes
</div>

<div class="edu-item">
  <strong>Jun 2014</strong> – Project Management Specialization<br>
  Escuela Colombiana de Ingeniería
</div>

<div class="edu-item">
  <strong>May 2004</strong> – Master’s in Econometric Sciences and Mathematical Economy<br>
  Pontificia Universidad Javeriana
</div>

<div class="edu-item">
  <strong>May 1995</strong> – Software Engineering<br>
  Universidad Nacional de Colombia
</div>
